.currencies-container{
  width: 50%;
  float: left;
}
.date-container{
  width: 50%;
  float: right;
}
.result-cur-container{
  margin: .5rem 0 1rem 0;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  padding: 0px;
}
.result-cur-container .result-cur{
  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  list-style: none;
}
